@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #000000;
}

nav{
    border-bottom: 1px solid rgb(60, 60, 60);
}

nav h1{
    margin-left: 3%;
}

ul{
    margin-right: 3%;
}

.judul{
    font-size: 100px;
}

.mag {
    /* flip vertically */
    transform: rotateY(180deg);
}

input{
    text-align: center;
    background-color: rgb(60, 60, 60);
    border: none;
    height: 75px;
    color: white;
    font-size: 25px;
    padding: 8px;
}

input:hover{
    background-color: rgb(85, 85, 85);
}

input::placeholder{
    color: lightgray;
    font-size: 20px;
}

select{
    background-color: rgb(60, 60, 60);
    color: white;
}

.container-search{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: wrap;
}

.box{
    width: 400px;
    height: 75px;
    margin: 20px;
    box-sizing: border-box;
}

.swap{
    width: 50px;
    height: 50px;
    margin: auto;
    box-sizing: border-box;
    color: white;
}

.swap:hover{
    color: rgb(96, 165, 250);
    transition: opacity .3s ease-in-out;
}

.SwapHorizIcon{
    padding-top: 100px;
    margin: auto;
}

.container-result{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-bottom: 3%;
}

.box-result{
    width: 40%;
    min-width: 250px;
    box-sizing: border-box;
    border-radius: 12px;
}

.top{
    font-size: 50px;
    width: 100%;
    text-align: center;
}

.container-member{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.member{
    width: 30%;
    min-width: 250px;
    box-sizing: border-box;
    border-radius: 12px;
    text-align: center;
    font-size: 25px;
}


@media screen and (max-width:1200px){
    .box{
        width: 400px;
    }
}

@media screen and (max-width:1100px){
    .box{
        width: 100%;
    }
    .swap{
        transform: rotate(90deg);
    }
    .judul{
        font-size: 75px;
    }
}

@media screen and (max-width:900px){
    .box-result{
        width: 50%;
    }
    .judul{
        font-size: 50px;
    }

}

@media screen and (max-width:600px){
    .judul{
        font-size: 40px;
    }

}

@layer utilities {
    @keyframes gradientChange {
        0% {
            background-position: 0%
        }

        50% {
            background-position: 100%
        }

        100% {
            background-position: 0%
        }
    }

    .gradient {
        background: linear-gradient(90deg, blue, red);
        background-size: 200% 200%;
    }

    .element-to-rotate {
        animation: gradientChange 2s ease infinite;
    }
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.starry-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -10; /* Ensure the stars are behind other content */
}

.starry-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3C!-- Illustration by Mark James Miller --%3E%3Ccircle cx='550' cy='100' r='5' fill='%23f1f1f1' /%3E%3Ccircle cx='300' cy='400' r='3' fill='%23f1f1f1' /%3E%3Ccircle cx='900' cy='450' r='2' fill='%23f1f1f1' /%3E%3Ccircle cx='1250' cy='500' r='2' fill='%23f1f1f1' /%3E%3Ccircle cx='600' cy='600' r='3' fill='%23f1f1f1' /%3E%3Ccircle cx='1000' cy='800' r='2' fill='%23f1f1f1' /%3E%3Ccircle cx='1200' cy='200' r='2' fill='%23f1f1f1' /%3E%3Ccircle cx='1500' cy='700' r='3' fill='%23f1f1f1' /%3E%3Ccircle cx='1000' cy='800' r='3' fill='%23f1f1f1' /%3E%3Ccircle cx='700' cy='700' r='3' fill='%23f1f1f1' /%3E%3Ccircle cx='100' cy='700' r='3' fill='%23f1f1f1' /%3E%3Ccircle cx='1400' cy='900' r='3' fill='%23f1f1f1'/%3E%3C/svg%3E");
    animation: stars 8s linear infinite;
}

@keyframes stars {
0% {
    transform: translateY(0);
    opacity: 0;
}
50% {
    opacity: 1;
}
100% {
    transform: translateY(-900px);
    opacity: 0;
}
}
  